<!DOCTYPE html>
<html lang="{{ S_USER_LANG }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<title>{{ lang('STYLES_DEMO') }}</title>

	<link href="{{ EXT_ASSETS_PATH }}/css/bootstrap.min.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet" media="screen">
	<link href="{{ EXT_ASSETS_PATH }}/css/demo.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet" media="screen">
	<link href="{{ EXT_ASSETS_PATH }}/css/font-awesome.min.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet" type="text/css">
	<link href="{{ EXT_ASSETS_PATH }}/css/font-opensans.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet" type="text/css">

	<!-- Do not iframe our iframe! -->
	<script type="text/javascript">
		if (top !== self)
		{
			top.location.replace(self.location.href);
		}
	</script>
</head>

<body class="dark">
	<header class="switcher-bar clearfix">
		<!-- Logo -->
		<div class="logo pull-left">
			<img src="{{ EXT_ASSETS_PATH }}/images/logo.png" data-toggle="tooltip" title="{% if SITE_DESCRIPTION %}{{ SITE_DESCRIPTION }}{% else %}{{ lang('STYLES_DEMO') }}{% endif %}" class="show-tooltip" />
		</div>

		<!-- Style switcher -->
		<div class="style-switcher pull-left">
			<a href="#" data-toggle="tooltip" title="{{ lang('SELECT_STYLE_EXPLAIN') }}" class="show-tooltip">{{ lang('SELECT_STYLE') }}</a>
		</div>

		<!-- Right buttons -->
		<div class="remove-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('CLOSE') }}" class="fa fa-remove show-tooltip"></a>
		</div>
		{% if S_LANG_ENABLE %}
		<div class="lang-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="modal" title="{{ LANG_TITLE }}" class="fa fa-globe show-tooltip" id="langButton"></a>
		</div>
		{% endif %}
		{% if S_ACP_ENABLE %}
		<div class="switch-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="modal" title="{{ MODE_TITLE }}" class="fa fa-refresh show-tooltip"></a>
		</div>
		{% endif %}
		{% if S_JSON_ENABLE %}
		<div class="get-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('DOWNLOAD') }}" class="fa fa-download animate-pulse show-tooltip" id="getButton"></a>
		</div>
		{% endif %}
		<div class="mobile-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('PHONE') }}" class="fa fa-mobile show-tooltip"></a>
		</div>
		<div class="tablet-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('TABLET') }}" class="fa fa-tablet show-tooltip"></a>
		</div>
		<div class="desktop-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('DESKTOP') }}" class="fa fa-desktop show-tooltip"></a>
		</div>
	</header>

	<!-- Styles switcher -->
	<section class="switcher-body">
		<a href="#" title="{{ lang('PREVIOUS') }}" class="fa fa-chevron-left styles-prev"></a>
		<div class="styles-wrapper">
			<div class="styles-list clearfix"></div>
		</div>
		<a href="#" title="{{ lang('NEXT') }}" class="fa fa-chevron-right styles-next"></a>
		<div class="horizontal-line bottom-nav"></div>
	</section>

	<!-- Preview iframe -->
	<iframe class="style-iframe" frameborder="0" border="0"></iframe>

	<!-- Pre-loading effect -->
	<div class="preloader"></div>
	<div class="preloading-icon"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>

	{% if S_JSON_ENABLE %}
	<!-- Download/Purchase dialog -->
	<div class="modal fade" id="styleInfoDialog" tabindex="-1" role="dialog" aria-labelledby="styleInfoTitle" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">{{ lang('CLOSE') }}</span>
					</button>
					<h4 class="modal-title" id="styleInfoTitle"><span id="styleName"></span></h4>
				</div>
				<div class="modal-body">
					<span id="styleInfo"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="viewDetails"><i class="fa fa-info-circle"></i> {{ lang('DETAILS') }}</button>
					<button type="button" class="btn btn-success" id="downloadPurchase"><i class="fa fa-download"></i> {{ lang('DOWNLOAD') }}</button>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	<!-- List all the styles here -->
	<script type="text/javascript">
		var $styles,
			$prefixUrl = '{{ PREFIX_URL }}',
			$current_style = '{{ DEFAULT_STYLE }}',
			$current_lang = '{{ CURRENT_LANG }}',
			$default_lang = '{{ DEFAULT_LANG }}',
			$switch_lang = '{{ SWITCH_LANG }}',
			$default_to_switch_title = "{{ lang('LANG_SWITCH', DEFAULT_LANG_NAME, SWITCH_LANG_NAME)|e('js') }}",
			$switch_to_default_title = "{{ lang('LANG_SWITCH', SWITCH_LANG_NAME, DEFAULT_LANG_NAME)|e('js') }}",
			$label_download = "{{ lang('DOWNLOAD')|e('js') }}",
			$label_purchase = "{{ lang('PURCHASE')|e('js') }}",
			$label_free = "{{ lang('FREE')|e('js') }}",
			$switch_mode_url = '{{ U_MODE }}';

		$styles = {
			{% for style in loops.styles %}
			'{{ style.VARNAME }}': {
				name: '{{ style.NAME }}',
				phpbb: '{{ style.PHPBB }}',
				phpbb_info: '{{ style.PHPBB_INFO }}',
				img: '{{ style.IMG }}',
				info: '{{ style.INFO }}',	
				details: '{{ style.DETAILS }}',
				download: '{{ style.DOWNLOAD }}',
				price: '{{ style.PRICE }}',
				price_label: '{{ style.PRICE_LABEL }}',
				url: '{{ style.URL }}',
				url_lang: '{{ style.URL_LANG }}'
			},
			{% endfor %}
		};
	</script>

	<script type="text/javascript" src="{{ EXT_ASSETS_PATH }}/js/jquery.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ EXT_ASSETS_PATH }}/js/detectmobilebrowser.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ EXT_ASSETS_PATH }}/js/jquery.mousewheel.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ EXT_ASSETS_PATH }}/js/bootstrap.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ EXT_ASSETS_PATH }}/js/jquery.caroufredsel.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ EXT_ASSETS_PATH }}/js/jquery.touchswipe.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ EXT_ASSETS_PATH }}/js/demo.js?assets_version={{ T_ASSETS_VERSION }}"></script>
</body>
</html>