<!DOCTYPE html>
<html lang="{{ S_USER_LANG }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<title>{{ PAGE_TITLE }}</title>

	<link href="{{ T_ASSETS_PATH }}/demo/css/bootstrap.min.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet" media="screen">
	<link href="{{ T_ASSETS_PATH }}/demo/css/template.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet" media="screen">
	<link href="{{ T_ASSETS_PATH }}/demo/css/font-awesome.min.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet" type="text/css">
	<link href="{{ T_ASSETS_PATH }}/demo/css/font-opensans.css?assets_version={{ T_ASSETS_VERSION }}" rel="stylesheet" type="text/css">

	<!-- Do not iframe our iframe! -->
	<script type="text/javascript">
		if (top !== self)
		{
			top.location.replace(self.location.href);
		}
	</script>

	<!--[if lt IE 9]>
		<script>/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/</script>
	<![endif]-->    
</head>
	
<body class="dark">
	<header class="switcher-bar clearfix">
		<!-- Logo -->
		<div class="logo pull-left">
			<img src="{{ T_ASSETS_PATH }}/demo/images/logo.png" data-toggle="tooltip" title="{{ lang('DEMO_STYLES_EXPLAIN') }}" class="show-tooltip" />
		</div>

		<!-- Style switcher -->
		<div class="style-switcher pull-left">
			<a href="#" data-toggle="tooltip" title="{{ lang('SELECT_STYLE_EXPLAIN') }}" class="show-tooltip">{{ lang('SELECT_STYLE') }} <span>+</span></a>
		</div>

		<!-- Right buttons -->
		<div class="remove-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('CLOSE') }}" class="fa fa-remove show-tooltip"></a>
		</div>
		<div class="switch-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="modal" data-target=".bs-example-modal-sm" title="{{ SWITCH_TITLE }}" class="fa fa-refresh show-tooltip"></a>
		</div>
		<div class="download-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('DOWNLOAD') }}" class="fa fa-download show-tooltip"></a>
		</div>
		<div class="info-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('DETAILS') }}" class="fa fa-info-circle show-tooltip"></a>
		</div>
		<div class="mobile-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('PHONE') }}" class="fa fa-mobile show-tooltip"></a>
		</div>
		<div class="tablet-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('TABLET') }}" class="fa fa-tablet show-tooltip"></a>
		</div>
		<div class="desktop-btn header-btn pull-right hidden-xs">
			<a href="#" data-toggle="tooltip" title="{{ lang('DESKTOP') }}" class="fa fa-desktop show-tooltip"></a>
		</div>
	</header>

	<section class="switcher-body">
		<a href="#" title="{{ lang('PREVIOUS') }}" class="fa fa-chevron-left styles-prev"></a>
		<div class="styles-wrapper">
			<div class="styles-list clearfix"></div>
		</div>
		<a href="#" title="{{ lang('NEXT') }}" class="fa fa-chevron-right styles-next"></a>
		<div class="horizontal-line bottom-nav"></div>
	</section>

	<iframe class="style-iframe" frameborder="0" border="0"></iframe>

	<div class="preloader"></div>
	<div class="preloading-icon"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>

	<div class="modal fade" id="downloadAlert" tabindex="-1" role="dialog" aria-labelledby="downloadAlertLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">{{ lang('CLOSE') }}</span>
					</button>
					<h4 class="modal-title" id="downloadAlertLabel">{{ lang('INFORMATION') }}</h4>
				</div>
				<div class="modal-body">
					{{ lang('PRICE_DIALOG') }}<span id="stylePrice">0</span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="agreeDownload"><i class="fa fa-cloud-download"></i> {{ lang('DOWNLOAD') }}</button>
					<button type="button" class="btn btn-success" id="agreePurchase"><i class="fa fa-shopping-cart"></i> {{ lang('PURCHASE') }}</button>
				</div>
			</div>
		</div>
	</div>

	<!-- List all the styles here -->
	<script type="text/javascript">
		var $styles,
			$current_style = 'prosilver',
			$switch_url = '{{ U_SWITCH }}';

		$styles = {
			{% for style in styles %}
			'{{ style.VARNAME }}': {
				name: '{{ style.NAME }}',
				tag: '{{ style.TAG }}',
				responsive: '{{ style.RESPONSIVE }}',
				img: '{{ style.IMG }}',
				url: '{{ style.URL }}',
				info: '{{ style.INFO }}',	
				newest: '{{ style.NEWEST }}',
				bb: '{{ style.BB }}',
				get: '{{ style.GET }}',
				buy: '{{ style.BUY }}',
				price: '{{ style.PRICE }}'
			},
			{% endfor %}
		};
	</script>

	<script type="text/javascript" src="{{ T_ASSETS_PATH }}/demo/js/jquery.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ T_ASSETS_PATH }}/demo/js/detectmobilebrowser.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ T_ASSETS_PATH }}/demo/js/jquery.mousewheel.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ T_ASSETS_PATH }}/demo/js/bootstrap.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ T_ASSETS_PATH }}/demo/js/jquery.caroufredsel.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ T_ASSETS_PATH }}/demo/js/jquery.touchswipe.min.js?assets_version={{ T_ASSETS_VERSION }}"></script>
	<script type="text/javascript" src="{{ T_ASSETS_PATH }}/demo/js/application.js?assets_version={{ T_ASSETS_VERSION }}"></script>
</body>
</html>